@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global tweaks */
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
